@model UserManagement.Web.Models.Users.UserLogViewModel

<h2>User Details</h2>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th width="25%"></th>
				<th style="width: 1px;"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Forename:</td>
				<td>@Model.User.Forename</td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td>@Model.User.Surname</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>@Model.User.Email</td>
			</tr>
			<tr>
				<td>Date Of Birth:</td>
				<td>@Model.User.DateOfBirth.ToString("dd/MMM/yyyy")</td>
			</tr>
			<tr>
				<td>Is Active?</td>
				<td>@(Model.User.IsActive ? "Yes" : "No")</td>
			</tr>
		</tbody>
	</table>
</div>

<br />

<h2>User Log</h2>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th width="25%">Timestamp</th>
				<th>Message</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.UserEvents)
			{
				<tr>
					<td> @item.TimeStamp </td>
					<td> @item.RenderedMessage </td>
				</tr>
			}
		</tbody>
	</table>
</div>


<div>
	<br />
	<a asp-action="List">Back to User List</a>
</div>
